<%= stylesheet_link_tag 'project'%>
<h2 id= 'main_content'> This is index page </h2>
<h3> Project Listing </h3>
<%= link_to 'Add Project', new_project_path%>
</br>
</br>
<% @projects.each do |project|%>
  <%= project.title %>
  <%= project.abstract%>
  <%= link_to 'View Details', project_path(project.id)%>
  <%= link_to 'Edit', edit_project_path(project.id)%>
  <%= link_to 'Delete', project_path(project.id), method: 'delete'%>
  </br>
  </br>
<%end%>

</br>
</br>
</br>
<%= link_to 'View Top Projects', top_hits_projects_path%>